.git
.gitignore
.github
.verification-output
node_modules
my_designs
my_designs-demo
generated-scad
BGSD-src/*
!BGSD-src/schema
!BGSD-src/schema/**
tests
launcher
*.exe
*.stl
*.3mf
*.fidelity.json
*.fidelity.png
npm-debug.log*
